<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782873848258-6r6v31dhe5oa92hdvn6at5f738e5hvla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782873848258-6r6v31dhe5oa92hdvn6at5f738e5hvla</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>782873848258-sqj0psl71h0v1ou6ubjovtae0bssdobg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhp_u5mFTZiedLTOtaLoD20w55Ya6JSLM</string>
	<key>GCM_SENDER_ID</key>
	<string>782873848258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.picpics</string>
	<key>PROJECT_ID</key>
	<string>picpics</string>
	<key>STORAGE_BUCKET</key>
	<string>picpics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782873848258:ios:7ed97274a6a05e121f8e5b</string>
	<key>DATABASE_URL</key>
	<string>https://picpics.firebaseio.com</string>
</dict>
</plist>