<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782873848258-1r809shqf1tg3n1hpabgmlqfngtf41bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782873848258-1r809shqf1tg3n1hpabgmlqfngtf41bk</string>
	<key>API_KEY</key>
	<string>AIzaSyAhp_u5mFTZiedLTOtaLoD20w55Ya6JSLM</string>
	<key>GCM_SENDER_ID</key>
	<string>782873848258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.inovatso.picPics</string>
	<key>PROJECT_ID</key>
	<string>picpics</string>
	<key>STORAGE_BUCKET</key>
	<string>picpics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782873848258:ios:7db595160b6b6e9e1f8e5b</string>
	<key>DATABASE_URL</key>
	<string>https://picpics.firebaseio.com</string>
</dict>
</plist>