<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.transistorsoft.fetch</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>hi</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>ms</string>
		<string>nl</string>
		<string>pl</string>
		<string>pt</string>
		<string>ru</string>
		<string>sv</string>
		<string>th</string>
		<string>zh</string>
		<string>id</string>
	</array>
	<key>CFBundleName</key>
	<string>picPics</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb578057813076951</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>br.com.inovatso.picPics</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>picpics</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>578057813076951</string>
	<key>FacebookDisplayName</key>
	<string>picPics</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-4850390878205651~6175952653</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>We can use your Face ID to unlock your private photos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>If you want our app to add your location to your photos, we need authorization to access your location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>If you want our app to add your location to your photos, we need authorization to access your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>If you want our app to add your location to your photos, we need authorization to access your location.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your photo library so you can start organizing your photos with picPics. Don't worry your photos will never leave your device!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library so you can start organizing your photos with picPics. Don't worry your photos will never leave your device!</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<string>key_live_knQ56dVonIKMG12kp8oqImolxDdnijb4</string>
	<key>branch_universal_link_domains</key>
	<array>
		<string>picpics.link</string>
		<string>picpics-alternate.app.link</string>
		<string>picpics.test-app.link</string>
		<string>picpics-alternate.test-app.link</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
